@lightblue: #0285d0;
@red: #dd4b39;
@green: #00a65a;
@aqua: #00c0ef;
@yellow: #f39c12;
@blue: #0073b7;
@navy: #001F3F;
@teal: #39CCCC;
@olive: #3D9970;
@lime: #01FF70;
@orange: #FF851B;
@fuchsia: #F012BE;
@purple: #605ca8;
@maroon: #D81B60;
@black: #111;
@lightgray: #D3D3D3;
@gray: #545454;
@darkgray: #21252B;
@silver: #C0C0C0;
@white: white;

@o-blue: #4cd2f3;
@mood-aqua: #00acd7;
@light-aqua: #99ceec;
@dark-aqua: #6eb9e4;
@darker-aqua: #cccccc;

.observo--sidebar {
    background: @lightgray;
     ::-webkit-scrollbar-thumb {
        background-color: darken(@aqua, 20%);
    }
    .box {
        background: @light-aqua
    }
    .box:hover {
        background: darken(@light-aqua, 10%)
    }
}
.obsero--settings-section {
    &:hover {
        color: @mood-aqua;
    }
    h2:hover {
        color: @mood-aqua !important;
    }
}



.background {
    background-color: rgba(0, 0, 0, 0);
    padding: 0px;
}
body, html {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: gray;
    overflow: hidden;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    user-select: none;
}
html {
    overflow: hidden;
    height: 100%;
    padding: 0px;
    margin: 0px
}
.observo-text {
    font-family: 'Audiowide', cursive;
    font-weight: bold !important;
    font-size: 14px;
}
